:root {
  /* CSS VARIABLES */
  --black: #000;
  --cream: #F6F5F0;
  --indigo: #3C1C5B;
  --orchid: #7E3680;
  --violet: #A654DF;
}

/* Default Styles */
html {
  font-size: 62.5%;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji''Segoe UI Symbol';
  font-size: 1.75rem;
  line-height: 1.5;
  color: var(--black);
  background-color: var(--cream);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 0.625rem;
  color: var(--orchid);
  font-weight: 700;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  margin-bottom: 1rem;
}